# <center>**ĐỒ ÁN CUỐI KÌ MÔN LẬP TRÌNH KHOA HỌC DỮ LIỆU**</center>

---

## Import các thư viện cần thiết

In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

---

## __1. LẤY DỮ LIỆU__

Dữ liệu được sử dụng trong đồ án này là dữ liệu lịch sử về Thế vận hội Olympic, bao gồm tất cả các Thế vận hội đầu tiên ở Athen (1896) tới Thế vận hội Mùa hè ở Rio (2016).

Một điểm lưu ý nhỏ: Thế vận hội Mùa hè được tổ chức bắt đầu từ năm 1896, Mùa đông bắt đầu từ năm 1924. Trước năm 1992, Thế vận hội Mùa hè và Mùa đông được tổ chức  trong cùng một năm, và sau năm 1992, 2 Thế vận hội này được tổ chức xen kẽ nhau 2 năm/lần, thông tin từ trang [wiki](https://vi.wikipedia.org/wiki/Th%E1%BA%BF_v%E1%BA%ADn_h%E1%BB%99i).

Bộ dữ liệu được thu thập vào tháng 5/2018 từ trang gốc [này](www.sports-reference.com), được lấy từ Kaggle và tải về [ở đây](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results).

---

## __2. KHÁM PHÁ DỮ LIỆU__

### Đọc dữ liệu từ file csv vào dataframe

In [2]:
athlete_df = pd.read_csv('athlete_events.csv')
athlete_df.head(10)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
7,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
8,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN
9,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,000 metres",NaN

### Dữ liệu gồm có bao nhiêu dòng và bao nhiêu cột?

In [3]:
num_rows = athlete_df.shape[0]
num_cols = athlete_df.shape[1]

In [4]:
assert num_rows == 271116
assert num_cols == 15

### Mỗi dòng và mỗi cột có ý nghĩa gì?

Dưới đây là phần mô tả về các cột trong file "netflix_titles.csv":
- __ID__: Unique number for each athlete
- __Name__: Athlete's name
- __Sex__: gender - Male(M) or Female(F)
- __Age__: Athlete's age
- __Height__: Athlete's height
- __Weight__: Athlete's weight
- __Team__: Team name
- __NOC__: National Olympic Committee 3-letter code
- __Games__: Year and season
- __Year__: Year on held
- __Season__: Summer or Winter
- __City__: Host city
- __Sport__: Sport
- __Event__: Event
- __Medal__: Gold, Silver, Bronze, or NA

Nhìn vào dữ liệu ở `athlete_df`, ta có thể thấy là mỗi dòng ứng với thông tin của một vận động viên tham gia Thế vận hội.

### Mỗi cột có dtype là gì?

Ta lấy `dtype` (kiểu dữ liệu của mỗi phần tử) của mỗi cột trong `athlete_df` và lưu kết quả vào series `col_dtypes`; series này có index là tên cột.

In [5]:
col_names = list(athlete_df.columns.values)
dtype_for_each_col = list(athlete_df.dtypes)

col_dtypes = pd.Series(dtype_for_each_col, index = col_names)
col_dtypes

ID          int64
Name       object
Sex        object
Age       float64
Height    float64
Weight    float64
Team       object
NOC        object
Games      object
Year        int64
Season     object
City       object
Sport      object
Event      object
Medal      object
dtype: object

### Các cột có dtype là object là gì?

`athlete_df` có 10 cột có `dtype` là `object`: "Name", "Sex", "Team", "NOC", "Games", "Season", "City", "Sport", "Event", "Medal". Ta sẽ xem thử mỗi cột có các kiểu dữ liệu nào.

In [6]:
def open_object_dtype(s):
    dtypes = set()
    
    # YOUR CODE HERE
    
    if s.dtype == object:
        result = s.map(type)
        for particular_type in result:
            dtypes.add(particular_type)
    
    return dtypes

In [7]:
assert open_object_dtype(athlete_df['Name']) == {str}
assert open_object_dtype(athlete_df['Sex']) == {str}
assert open_object_dtype(athlete_df['Team']) == {str}
assert open_object_dtype(athlete_df['NOC']) == {str}
assert open_object_dtype(athlete_df['Games']) == {str}
assert open_object_dtype(athlete_df['Season']) == {str}
assert open_object_dtype(athlete_df['City']) == {str}
assert open_object_dtype(athlete_df['Sport']) == {str}
assert open_object_dtype(athlete_df['Event']) == {str}
assert open_object_dtype(athlete_df['Medal']) == {str, float}

__<font color=red>Nhận xét:</font>__

- Các cột sau có `dtype` là `str`: "Name", "Sex", "Team", "NOC", "Games", "Season", "City", "Sport", "Event".
- Chỉ duy nhất cột "Medal" có `dtype` gồm 2 loại là: `str` và `float`. Trong đó, `float` là ứng với `NaN`, không đạt huy chương, `str` ứng với đạt một huy chương tại một môn thể thao nào đó.

### Cột dạng numeric và datetime có miền giá trị thế nào?

In [5]:
athlete_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

Hiện có 5 cột dạng numeric, đó là: "ID", "Age", "Height", "Weight", "Year". Tuy nhiên là cột "ID" không có gì đáng lưu ý. Như vậy chỉ còn lại cột "Age", "Height", "Weight", và "Year". Ta sẽ tính miền giá trị (min, max) của 4 cột là "Age", "Height", "Weight", "Year", lưu kết quả vào dataframe `col_ranges_df`. Dataframe này có 2 dòng là "min", "max"; và có 2 cột là "Age", "Height", "Weight", "Year".

In [6]:
col_ranges_df = athlete_df.agg({'Age': ['min', 'max'], 'Height': ['min', 'max'], 'Weight': ['min', 'max'], 'Year': ['min', 'max']})
col_ranges_df

      Age  Height  Weight  Year
min  10.0   127.0    25.0  1896
max  97.0   226.0   214.0  2016

### Các cột dạng categorical có các giá trị nào?

`athlete_df` có 6 cột dạng categorical là "Team", "Games", "City", "Sport", "Event", "Medal". Ta tính "range" cho các cột này: số lượng các giá trị khác nhau (không tính NaN), và list gồm 3 giá trị khác nhau đầu tiên sau khi đã sort tăng dần tất cả các giá trị khác nhau. Lưu kết quả vào dataframe `cat_col_ranges_df`. Dataframe này có 2 dòng là "NumUniqueVals", "ThreeFirstVals"; và có 6 cột là "Team", "Games", "City", "Sport", "Event", "Medal".

In [7]:
cat_col_ranges_df = athlete_df.agg({ 'Team': ['nunique'], 'Games': ['nunique'], 'City': ['nunique'], 'Sport': ['nunique'], 'Event': ['nunique'], 'Medal': ['nunique']})
cat_col_ranges_df.rename(index={'nunique': 'NumUniqueVals'}, inplace=True)

new_row = pd.Series({'Team': sorted(athlete_df['Team'].dropna().unique())[:3],
                     'Games': sorted(athlete_df['Games'].dropna().unique())[:3],
                     'City': sorted(athlete_df['City'].dropna().unique())[:3],
                     'Sport': sorted(athlete_df['Sport'].dropna().unique())[:3],
                     'Event': sorted(athlete_df['Event'].dropna().unique())[:3],
                     'Medal': sorted(athlete_df['Medal'].dropna().unique())[:3]}, name='ThreeFirstVals')

cat_col_ranges_df = cat_col_ranges_df.append(new_row)
cat_col_ranges_df

,Team,Games,City,Sport,Event,Medal
NumUniqueVals,1184,51,42,66,765,3
ThreeFirstVals,"[30. Februar, A North American Team, Acipactli]","[1896 Summer, 1900 Summer, 1904 Summer]","[Albertville, Amsterdam, Antwerpen]","[Aeronautics, Alpine Skiing, Alpinism]","[Aeronautics Mixed Aeronautics, Alpine Skiing ...","[Bronze, Gold, Silver]"

### Mỗi cột có bao nhiêu giá trị thiếu?

Tính số lượng giá trị thiếu của mỗi cột và lưu kết quả vào series `col_num_nans`, trong đó index là tên cột, series này chỉ hiển thị các cột có giá trị thiếu.

In [8]:
list_data = []
list_index = []

for name in col_names:
    result = athlete_df[name].isna().sum()
    if result > 0:
        list_data.append(result)
        list_index.append(name)

col_num_nans = pd.Series(list_data, index=list_index)
col_num_nans

Age         9474
Height     60171
Weight     62875
Medal     231333
dtype: int64

---

## __4. CÁC CÂU HỎI CẦN TRẢ LỜI__

Sau khi khám phá và hiểu hơn về dữ liệu, có một số câu hỏi có thể trả lời được bằng dữ liệu như sau:
- Số lượng vận động viên (VĐV) tham gia mỗi mùa Olympic thay đổi như thế nào theo năm, và có sự khác biệt nào giữa số VĐV Mùa hè và Mùa đông (từ sau năm 1992)?
- Với các VĐV tham gia mỗi năm, tỉ lệ nữ VĐV tham gia Olympic tính đến năm 2016 là bao nhiêu?
- Trong mỗi năm, "Team" nào có nhiều huy chương nhất và "Team" nào có ít huy chương nhất?

---

## __5. CÂU TRẢ LỜI CHO CÁC CÂU HỎI__

---

## __6. QUÁ TRÌNH LÀM ĐỒ ÁN__

---

## __7. TÀI LIỆU THAM KHẢO__